{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-md-5">
        <div class="card shadow-lg border-0">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                    <i class="bi bi-lock text-primary" style="font-size: 3rem;"></i>
                    <h3 class="fw-bold mt-2" style="color: #0a2540;">Definir Nova Senha</h3>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 py-2">
                        Alterar senha
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}